*{
    background-color: rgba(143, 207, 207, 0.808);
}
.barra{
    background-color: rgb(158, 189, 189);
    justify-content: center;
    display: flex;
    flex-direction: row;
    border: solid black;
}
.barra > a{
    text-decoration: none;
    margin: 20px;
    color: black;
}
.barra > a:hover{
    border-bottom: 1px solid black;
}
.productos{
    display: flex;
    flex-direction: row;
    width: 10.417vw;
}
